*.swp
*.d

# Ignore compiled binaries
pkg/

# Ignore archived files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so
*.a

# Latex stuff
*.aux
*.bbl
*.blg
*.idx
*.log
*.out
*.toc
